[package]
name = "pn532"
description = "PN532 protocol implementation"
version = "0.2.0"
edition = "2021"
repository = "https://github.com/WMT-GmbH/pn532"
license = "MIT OR Apache-2.0"
categories = [
    "hardware-support",
    "no-std",
    "asynchronous",
    "embedded"
]
keywords = [
    "embedded-hal",
    "PN532",
]

[dependencies]
embedded-hal = { version = "0.2.6", features = ["unproven"] }
nb = "1.0.0"
void = { version = "1.0.2" , default_features = false}

[features]
msb-spi = []
